In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [2]:
zoo=pd.read_csv('Zoo.csv')

In [3]:
zoo.head()

,animal name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [4]:
zoo.shape

(101, 18)

In [14]:
zoo = zoo.rename({'animal name':'animal'},axis = 1)

In [15]:
zoo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    101 non-null    object
 1   hair      101 non-null    int64
 2   feathers  101 non-null    int64
 3   eggs      101 non-null    int64
 4   milk      101 non-null    int64
 5   airborne  101 non-null    int64
 6   aquatic   101 non-null    int64
 7   predator  101 non-null    int64
 8   toothed   101 non-null    int64
 9   backbone  101 non-null    int64
 10  breathes  101 non-null    int64
 11  venomous  101 non-null    int64
 12  fins      101 non-null    int64
 13  legs      101 non-null    int64
 14  tail      101 non-null    int64
 15  domestic  101 non-null    int64
 16  catsize   101 non-null    int64
 17  type      101 non-null    int64
dtypes: int64(17), object(1)
memory usage: 14.3+ KB

In [17]:
y=zoo['type'].values
X=zoo.drop(['type','animal'],axis=1).values

In [18]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.3, random_state=42)
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=7)

In [19]:
knn.score(X_train,y_train)

0.8857142857142857

In [20]:
knn.score(X_test,y_test)

0.8064516129032258

In [21]:
#We Obtained 80 % accuracy by using KNN

In [22]:
preds=knn.predict(X_test)

In [23]:
preds

array([1, 1, 4, 1, 1, 6, 1, 1, 1, 1, 4, 6, 6, 2, 4, 1, 1, 2, 4, 1, 4, 3,
       1, 6, 1, 7, 6, 6, 1, 1, 2], dtype=int64)

In [24]:
from sklearn.metrics import classification_report

In [25]:
print(classification_report(preds,y_test))

              precision    recall  f1-score   support

           1       0.93      0.93      0.93        15
           2       1.00      1.00      1.00         3
           3       0.00      0.00      0.00         1
           4       1.00      0.40      0.57         5
           5       0.00      0.00      0.00         0
           6       1.00      0.83      0.91         6
           7       0.33      1.00      0.50         1

    accuracy                           0.81        31
   macro avg       0.61      0.60      0.56        31
weighted avg       0.91      0.81      0.83        31

C:\Users\pearl\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\pearl\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\pearl\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))